#navbar-home{
    background-color:olivedrab;
    justify-content: center;
    border-style: solid;
    vertical-align: center;
}
body{
    background-color:gainsboro;
}
.navbar-nav {
    width: 100%;
    align-content: center;
    align-items: baseline;
    margin: 0 3% 0 3%;
}
.nav-item{
    font-size: large;
    padding: 0 3% 0 3%;
    align-self: center;
}
.quick-table{
    width: 100%;
    display: flex;
}
td{
    width: 400px;
    border: 1px solid black;
    border-collapse:separate;
    flex-flow: wrap;
    text-align: center;
}
.links{
    color: white;
    font-weight: 600;
    text-decoration-line: none;
}
.links:hover{
    color: black;
    font-weight: 750;
    text-decoration-line: none;
}

.product-sku{
    display: flex;
    align-items: baseline;
}

.store-options{
    width: 95%;
    margin-bottom: 2%;
    padding: 1% 1% 1% 0;
    border-style: hidden;
}
.lista, .content, .products{
    height: 100%;
    border-style: hidden;
}
.lista{
    background-color: gray;
}
.category-button{
    border-style: hidden;
    padding: 1% 1% 1% 0;
    font-size: larger;
}
.category-button:hover{
    background-color: blue;
    
}